apache-airflow==2.8.2 ; python_version >= "3.8"
apache-airflow-providers-google == 10.16.0
apache-airflow-providers-docker
"apache-airflow==2.2.3" --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.2.3/constraints-no-providers-3.9.txt"